<html>
  <head>
    <title>WattTime email demo app</title>
  </head>
  <body>
      <h1>WattTime email demo app</h1>
      <p>This app will send an email from {{ from_email }} to {{ to_email }} every time new data is available from WattTime in any region you set up a webhook for.</p>
      <p>Get started with WattTime by creating an <a href="//api.watttime.org/accounts/register/">API account</a>.</p>
      <p>Then set up your first <a href="//api.watttime.org/accounts/webhooks/">webhook</a> with the target <a href="{{ target_url }}">{{ target_url }}</a>.</p>
  </body>
</html>
